osh_core/generated_src/includes/ConfigurationParameter.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://osh/configuration/system"
        elementFormDefault="qualified">

    <complexType name="ConfigurationParameter">
        <sequence>
            <element name="parameterName" type="string"/>
            <element name="parameterValue" type="string"/>
            <element name="parameterType" type="string"/>
        </sequence>
    </complexType>
</schema>
